MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=devflow_user
MYSQL_PASSWORD=devflow_password
MYSQL_DATABASE=devflow_db
JWT_SECRET=change-this-development-secret
PORT=4011
CORS_ORIGIN=http://localhost:8022,http://127.0.0.1:8022,http://143.198.155.216:8022

# Production
# 
# 
